$base-color: #081a45;
$base-color2: #00aae7;

// DarkMode [start]
.evaluate_container.dark {
  h2 {
    &:before {
      background-color: white;
    }
  }
  .evaluate_content {
    .text_box {
      p {
        color: white;
      }
    }
    .img_box {
      .cube {
        background-color: $base-color2;
      }
    }
  }
}

// DarkMode [end]

.evaluate_container {
  padding: 20px 0 40px 0;

  h2 {
    color: $base-color2;
    text-align: end;
    position: relative;
    right: 20px;
    width: 100%;
    font-size: 2rem;
    @media screen and (max-width: 455px) {
      font-size: 1.8rem;
    }

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 100px;
      top: 35px;
      margin-left: 50px;
      background-color: $base-color;
    }
  }

  .evaluate_content {
    display: flex;
    width: 100%;
    margin-top: 20px;
    @media screen and (max-width: 960px) {
      flex-direction: column-reverse;
    }

    .text_box {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.8rem;
        text-align: center;
        color: $base-color;

        @media screen and (max-width: 455px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 455px) {
          font-size: 1.3rem;
        }

        span {
          color: $base-color2;
          position: relative;
          top: -10px;
        }
      }
    }
    .img_box {
      flex: 1;
      position: relative;

      @media screen and (max-width: 960px) {
        display: flex;
        justify-content: center;
        margin: 20px 0;
      }

      img {
        width: 650px;
        height: 400px;

        @media screen and (max-width: 1090px) {
          width: 550px;
          height: 350px;
        }

        @media screen and (max-width: 960px) {
          width: 600px;
          height: 450px;
        }
        @media screen and (max-width: 680px) {
          width: 400px;
          height: 350px;
        }
        @media screen and (max-width: 455px) {
          width: 300px;
          height: 240px;
        }
      }

      .cube {
        position: absolute;
        top: 40px;
        right: 0;
        background-color: $base-color;
        height: 400px;
        width: 80%;
        z-index: -1;

        @media screen and (max-width: 1090px) {
          top: -10px;
        }
        @media screen and (max-width: 960px) {
          width: 100%;
          top: 20px;
          height: 400px;
        }
        @media screen and (max-width: 680px) {
          height: 300px;
        }
        @media screen and (max-width: 455px) {
          height: 210px;
        }
      }
    }
  }
}
