.textBoxContainer {
  flex: 1;
  position: relative;
  @media screen and (max-width: 958px) {
    flex: 2;
  }
  .arrowsBox {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;

    img {
      margin: 0 30px;
      cursor: pointer;
    }
  }
}
